.faq-section {
  display: flex;
  justify-content: space-between; /* จัดระยะห่างระหว่างสองบล็อก */
  gap: 10px;
  padding: 50px 120px; /* ระยะห่างจากขอบทั้งสองฝั่ง */
}

.faq-block1,
.faq-block2 {
  position: relative;
  flex: 1;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background: #009498;
  border-bottom: 1px solid #ddd;
}

.faq-header span {
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
}



.faq-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffff;
}

.faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer-wrapper.open {
  max-height: 100px; /* ความสูงที่แสดง */
}

.faq-answer {
  padding: 10px;
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.faq-block2 {
  flex: 1;
  text-align: center;
}

.faq-block2 img {
  max-width: 1060%;
  height: 497px;
  border: 1px solid #ddd;
  margin-left: 50px;
  margin-top: 70px

}
.Header-ques{
  width: 300px;
  height: 80px;
  background-color: #009498;
  text-align: center;
}

.Header-ques p{
  color: #000;
}

.faq-block1 p{
  color: #000;
  cursor: pointer;
}

.faq-block1{
  padding-top: 20px;
  margin-left: 50px;
}

.faq-block1 h1{
  margin-bottom: 35px;
  margin-top: 20px;

}