@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

body {
    font-family: 'Prompt', sans-serif;
}

.header-category{
    width: 1298px;
    height: 61px;
    background-color: #009498;
    margin: 0 auto;
}

.header-category h1{
    font-size: 32;
    font-weight: bold;
    color: white;
    text-align: center;
    
}
