/* การตั้งค่าเบื้องต้น */
.footer {
    width: 100%;
    height: 178px;
    display: flex;
    justify-content: space-between;
    background-color: #009498;
    color: white;
    padding: 20px;
    gap: 100px;  /* ลดระยะห่างระหว่างส่วนต่างๆ */
    font-family: 'Prompt', sans-serif;
  }
  
.textfooter{
    margin-top: 20px;
    font-size: 14px;
}

.footer-section {
    flex: 1;
    text-align: left;
  }

.divider {
    border-left: 1px solid white;
    height: 130px;
    margin: 0 20px;
}

.logo-image {
    width: 120px;
    height: auto;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 100px;
}

span{
    font-size: 20px;
}
  
.footer-section{
    margin-left: 20px;
}

.footer-icon {
    font-size: 24px; /* ปรับขนาดไอคอน */
    margin-right: 10px; /* ระยะห่างระหว่างไอคอนกับข้อความ */
    color: white; /* ปรับสีของไอคอน */
  }
  
  /* ถ้าคุณต้องการเปลี่ยนสีเมื่อมีการ hover */
  .footer-icon:hover {
    color: #f1f1f1; /* เปลี่ยนสีเมื่อ hover */
  }
  

  
