.login-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
.logo-login{
  width: 306px;
  height: 306px;
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

  .login-left {
    flex: 1;
    background: url('../assets/login.png') no-repeat center center;
    background-size: cover;
    position: relative;
    
  }

  .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* เพิ่ม padding เพื่อเว้นระยะ */
    background: rgba(255, 255, 255, 0.9);
  }
  
  .login-form {
    width: 100%; /* ใช้พื้นที่ทั้งหมดของ login-right */
    max-width: 717px; /* เพิ่มขนาดฟอร์มให้ใหญ่ขึ้น */
    max-height: 1000px;
    text-align: center;
    padding: 3rem; /* เพิ่ม padding ภายในฟอร์ม */
    border-radius: 10px; /* มุมมน */
    background: rgba(255, 255, 255, 0.95); /* เพิ่มความโปร่งแสง */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
  }
  
  .login-form h1 {
    font-size: 2.5rem; /* เพิ่มขนาดหัวข้อ */
    color: #007b8f;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: bold;
  }
  
  .login-form p {
    font-size: 1.2rem; /* เพิ่มขนาดข้อความคำอธิบาย */
    color: #6b6b6b;
    margin-bottom: 2.5rem;
    line-height: 1.8;
    text-align: left;
  }
  
  .login-form input {
    width: 100%;
    padding: 1rem; /* เพิ่ม padding ให้ใหญ่ขึ้น */
    margin-bottom: 1.5rem; /* เพิ่มระยะระหว่าง input */
    border: 1px solid #ccc;
    border-radius: 8px; /* มุมมนขึ้น */
    font-size: 1.2rem; /* เพิ่มขนาดตัวอักษร */
  }
  
  .login-form button {
    width: 25%;
    padding: 1rem; /* ปรับปุ่มให้ใหญ่ขึ้น */
    background: #007b8f;
    color: white;
    border: none;
    border-radius: 8px; /* มุมมนของปุ่ม */
    font-size: 1.2rem; /* เพิ่มขนาดตัวอักษรของปุ่ม */
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-form button:hover {
    background: #005f6b; /* สีเข้มขึ้นเมื่อ hover */
  }
  
  .login-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1rem; /* เพิ่มขนาดตัวอักษร */
    color: #6b6b6b;
  }
  
  .login-footer a {
    color: #007b8f;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
    color: #6b6b6b;
  }
  
