/* Login.css */
.login-container {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.image-section {
    flex: 1;
    background-image: url('../assets/login.png');
    position: relative;
    background-size: cover; 
    
    
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
}

.logo-image {
    width: 307px;
    height: 307px;
    position: relative;
    top: 325px;
    left: 270px;
    
}

.login-box {
    width: 100%;
    max-width: 717px;
    text-align: center;
}

.login-title {
    font-size: 40px; 
    color: #009498;
    margin-bottom: 1rem;
    justify-self: left; 
    font-weight: bold;
    margin-top: 10rem;
}

.login-description {
    font-size: 24px;
    color: #666;                                 
    margin-bottom: 4rem;
    font-weight: 200;
    text-align: left; /* ทำให้ฟอนต์ชิดฝั่งซ้าย */
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    
    
}

.login-input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #009498;
    font-size: 20px;
    color: white;                                       
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;   
    width: 198px; 
    height: 70px;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 10rem;
}


.login-button:hover {
    background-color: #3d434a;
}

.links {
    display: flex;
    flex-direction: column; /* ทำให้เนื้อหาตรงแนวตั้ง */
    align-items: flex-start; /* จัดตำแหน่งให้ชิดซ้าย */
    
}

.links p {
    color: #3d434a; /* เปลี่ยนสีข้อความ New Users? เป็นสีดำ */
    font-size: 20px;
    font-weight: 300;
}


.signup-link {
    background: none; /* เอากล่องครอบปุ่มออก */
    border: none; /* ลบเส้นขอบ */
    color: #009498; /* เปลี่ยนสีตัวหนังสือของปุ่ม */
    cursor: pointer; /* เปลี่ยน cursor เมื่อ hover */
    text-decoration: none; /* เอาเส้นใต้ของลิงก์ออก */
}

.signup-link:hover {
    text-decoration: underline; /* เมื่อ hover จะมีเส้นใต้ */
    color: #3d434a;
}
.links a.forgot-password{
    color: #009498; /* เปลี่ยนสีตัวหนังสือของปุ่ม */
    text-decoration: none; /* เอาเส้นใต้ของลิงก์ออก */
    font-weight: 300;
}
.links a.forgot-password:hover{
    text-decoration: underline; /* เมื่อ hover จะมีเส้นใต้ */
    color: #3d434a;
}


