.navbar_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009498; /* สีพื้นหลัง */
    color: white;
    padding: 20px 40px; /* เพิ่ม Padding ให้มีความสมดุล */
    height: 100px; /* ปรับความสูงของ navbar_main ให้ใหญ่ขึ้น */
}

.navbar-left img{
    height: 80px; /* ปรับขนาดโลโก้ให้ใหญ่ขึ้น */
    width: 80px;
    margin-right: 20px; /* เพิ่มระยะห่างระหว่างโลโก้กับข้อความ */
    background-color: white;
    border-radius: 100px;
}



.user-info {
    display: flex;
    align-items: center;
    gap: 20px; /* เพิ่มระยะห่างระหว่างไอคอนผู้ใช้และชื่อ */
}

.user-info span {
    font-size: 16px; /* เพิ่มขนาดตัวอักษรชื่อผู้ใช้ */
    font-weight: bold;
    margin-top: 10px;
}
  .icon-user{
    margin-top: 10px;
  }
.logout-button {
    background-color: white;
    color: #008080;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* เพิ่มขนาดปุ่ม */
    font-size: 16px; /* ขนาดตัวอักษรใหญ่ขึ้น */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #004d4d; /* สีพื้นหลังเมื่อ Hover */
    color: white;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    margin-left: 250px ;
    

  }
  
  .navbar-links p {
    margin: 0;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 100;
    
    
  }
  .navbar-links a {
    text-decoration: none; /* ปิดการแสดงเส้นใต้ */
    
  }
  .navbar-links a :hover {
    text-decoration: underline; /* ปิดการแสดงเส้นใต้ */
    color: bisque;
    text-underline-offset: 10px;
  }

  button.btn-primary-1 {
    margin-top: 10px;
    background-color: #fff;
    color: #008080;
    height: 44px;
    font-weight: bold;
  }
  
  button.btn-primary-1:hover {
    background-color: #004d4d;
    
  }
  