.new-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-out;
}

.new-modal-content {
    width: 1056px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    animation: modalScaleIn 0.3s ease-out forwards;
}

.new-modal-header {
    background-color: #009498;
    color: white;
    width: 104%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    position: relative;
    bottom: 20px;
    right: 20px;
    border-radius: 5px 5px 0 0;
}

.new-modal-header h2 {
    margin: 0;
    color: white;
}

.new-modal-body {
    padding: 20px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.new-form-container {
    width: 100%;
}

.new-form-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 15px;
    margin-bottom: 15px;
}

.new-form-row.note {
    font-size: 12px;
    color: red;
    text-align: left;
}

.new-form-buttons {
    display: flex;
    margin: 50px 5px 0 5px;
    gap: 30px;
}

.new-submit-btn {
    background-color: #009498;
    border: none;
    padding: 8px 30px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.new-cancel-btn {
    background-color: #ccc;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.new-form-grid > div {
    display: flex;
    flex-direction: column;
}

.new-form-grid label {
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.new-form-grid #user-id,
.new-form-grid #subject,
.new-form-grid #equipment,
.new-form-grid #location,
.new-form-grid #borrow-date,
.new-form-grid #return-date {
    width: 100%;
}

.new-form-grid .new-form-grid {
    grid-template-columns: 1fr 1fr;
}

.new-form-grid .new-form-row {
    grid-template-columns: 1fr 1fr;
}

label{
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.new-submit-btn:hover {
    background-color: #007f7f;
    transform: scale(1.05);
}
.new-cancel-btn:hover {
    background-color: #b3b3b3;
    transform: scale(1.05);
}