
  .open-modal-btn {
    width: 114px;
    height: 48px;
    background-color: #009498;
    border: none;
    padding: 8px 10px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
    
    
  }
  
  .open-modal-btn:hover {
    background-color: #007f76;
  }
  
  /* Custom z-index for SweetAlert2 */
.swal2-modal-custom {
  z-index: 1050 !important; /* ปรับ z-index ให้อยู่เหนือ Modal */
}
.swal2-backdrop-show {
  z-index: 1040 !important; /* ปรับ z-index ของ Backdrop */
}
