
  .open-modal-btn {
    background-color: #009498;
    border: none;
    padding: 8px 30px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    
  }
  
  .open-modal-btn:hover {
    background-color: #007f76;
  }
  